body{
    background: rgb(46,9,121);
    background: linear-gradient(90deg, rgba(46,9,121,1) 0%, rgba(157,0,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.container{
    background: rgb(32,32,32);
    background: linear-gradient(90deg, rgba(32,32,32,1) 0%, rgba(87,67,99,1) 100%);
    width: 19rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 10px 10px 23px 5px rgba(0,0,0,0.75);
}

#screen{
    background: rgb(203,207,210);
    background: linear-gradient(90deg, rgba(203,207,210,1) 0%, rgba(170,181,198,1) 100%);
    border-radius: 5px;
    padding: .3rem;
    color: rgb(19, 18, 18);
    width: 12.6rem;
    max-width: 12.6rem;
    inline-size: 12.6rem; 
    display: flex;
    align-items: center;
    overflow: auto;
}

::-webkit-scrollbar {
    height: 15px;
}

::-webkit-scrollbar-thumb {
    background: rgb(38,28,138); 
    border-radius: 10px;
    transition: all .3s;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(63, 52, 180); 
    transition: all .3s;
}

.container, .col{
    display: flex;
    flex-direction: column;
}

.col{
    gap: 1rem;
}

.row{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: .3rem;
    margin-bottom: 1rem;
    justify-content: space-evenly;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.btn{
    cursor: pointer;
    border-radius: 5px;
    padding: 1rem;
    width: 30px;
    height: 30px;
    text-align: center;
    color: rgb(226, 222, 215);
    opacity: 1;
    transition: all .3s;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.75);
}

.btn:hover{
    opacity: .5;
    transition: all .3s;
}

.btn:active{
    box-shadow: inset 2px 2px 4px 1px rgba(0,0,0,0.75);
    transition: all .3s;
}

#delete{
    background: rgb(154,17,17);
    background: linear-gradient(90deg, rgba(154,17,17,1) 0%, rgba(223,43,43,1) 100%);
}

.digits{
    background: rgb(38,28,138);
    background: linear-gradient(90deg, rgba(38,28,138,1) 0%, rgba(75,64,209,1) 100%);
}

.operator{
    background: rgb(27,108,47);
    background: linear-gradient(90deg, rgba(27,108,47,1) 0%, rgba(83,230,115,1) 100%);
    color: rgb(19, 18, 18);
}
